<% if @areas.any? %>
  <p>click on an area to add a new location to it:</p>
  <% @areas.each do |area| %>
    <li><%= link_to area.name, new_area_location_path(area) %></li>
  <%end %>
<% end %>
<br>
<p>Or, <%= link_to "Add a new area", new_area_path %></p>

<hr>
<% if @locations.any? %>
  <p>click on a location to add a new item to it:</p>
  <% @locations.each do |location| %>
    <li><%= link_to location.name, new_location_item_path(location) %></li>
  <%end %>
<% end %>
